.intro {
    width: 984px;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
    .intro {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: 95%;
    }
}