.lead__subtitle {
    margin: 32px 0 64px;
    width: 640px;
    color: #fff;
    text-align: center;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 30px;
    line-height: 1.2;
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        margin: 32px 0 56px;
        max-width: 90%;
        font-size: 24px;
    }
}

@media screen and (max-width: 568px) {
    .lead__subtitle {
        margin: 16px 0 40px;
        max-width: 90%;
        font-size: 16px;
    }
}